<ion-header [translucent]="true">
  <ion-toolbar color="warning">
    <ion-title>
      Brasil à Mesa
    </ion-title>
    <ion-button href="home"color="success">HOME</ion-button>
    <ion-button href="cardapio" color="warning">Cardápio Comidas</ion-button>
    <ion-button href="sobre" color="primary">Cardápio Bebidas</ion-button>
    <ion-button href="contato" color="light">Contato</ion-button>
  </ion-toolbar>
</ion-header><ion-content>
  <div class="container">
    <div class="banner">
      <ion-img src="..\..\assets\icon\R.jpg"></ion-img>
      </div>
      <hr/>
      <h1>Bem Vindos Ao Brasil À Mesa</h1>
      <hr/>
  <div class="conteudo">
    <div class="imagem">
      <h1></h1>
      <ion-img src="..\..\assets\icon\comida.jpg"></ion-img>
      <p></p>
    </div>
      <hr/>
      <div class="imagem">
        <h1></h1>
        <ion-img src="..\..\assets\icon\470.jpg"></ion-img>
        <p></p>
      </div>
        <hr/>
        <div class="imagem">
          <h1></h1>
          <ion-img src="..\..\assets\icon\2080s.png"></ion-img>
          <p></p>  
        </div>
          <hr/>
  </div>  
  </div>
  </ion-content>
