ion-toolbar{
  text-align: center;
}
ion-title{
  text-align: center;
  padding: 5px;
}
.banner{
  margin: auto;
  max-width:1000px;
  max-height:650px;
  width: auto;
  height: auto;
}
.conteudo{
  width: 350px;
  height: 350px;
  margin: auto;

}
p{
  text-align: center;
}
h1{
  text-align: center;
}
